@import './variables.scss';

.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $white;
    height: 40px;

    .chats__chatIcon {
        flex: 1;
    }
}